<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>day10assessment</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="index.css">


</head>


<body ng-controller="RegFormCtrl as ctrl">

<div class="container">

    <h1 class ="formname">User Registration Form</h1>

    <form name="regForm" novalidate ng-submit="ctrl.submit()">

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" name="email" id="email" class="form-control"
                   ng-model="ctrl.email" required>

            <div class="help-block"
                 ng-show="regForm.email.$invalid&&regForm.email.$error.required">
                <p>Email is mandatory.</p>
            </div>

        </div>


        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" class="form-control"
                   ng-model="ctrl.password" required>

            <div class="help-block"
                 ng-show="regForm.password.$invalid&&regForm.password.$error.required">
                <p>Password is mandatory.</p>
            </div>

        </div>


        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" class="form-control"
                   ng-model="ctrl.name" required>


            <div class="help-block"
                 ng-show="regForm.name.$invalid&&regForm.name.$error.required">
                <p>Name is mandatory.</p>
            </div>


        </div>

        <div class="form-group">
            <label>Gender:</label>

            <div class="radio">
                <label class="radio-inline">
                    <input type="radio" name="gender" ng-model="ctrl.gender" value="male" required>
                    Male
                </label>

                <label class="radio-inline">
                    <input type="radio" name="gender" ng-model="ctrl.gender" value="female" required>
                    Female
                </label>


                <div class="help-block" ng-show="regForm.gender.$invalid">
                    <p>Please choose a gender.</p>
                </div>
</div>

                <div class="form-group">
                    <label for="dob">Date of Birth:</label>
                    <input type="date" name="dob" id="dob" class="form-control"
                           ng-model="ctrl.dob" required>

                    <div class="help-block"
                         ng-show="regForm.dob.$invalid&&regForm.dob.$error.required">
                        <p>Date of Birth is mandatory.</p>
                    </div>
                </div>

                <div class="form-group">
                    <label for="address">Address:</label>
                    <textarea name="address" id="address" class="form-control" rows="2"
                              ng-model="ctrl.address" required>
                    </textarea>

                    <div class="help-block"
                         ng-show="regForm.address.$invalid&&regForm.address.$error.required">
                        <p>Address is mandatory.</p>
                    </div>
                </div>

                <div class="form-group">
                    <label for="country">Country:</label>
                    <input type="text" name="country" id="country" class="form-control"
                           ng-model="ctrl.country" required>

                    <div class="help-block"
                         ng-show="regForm.country.$invalid&&regForm.country.$error.required">
                        <p>Country is mandatory.</p>
                    </div>


                </div>


                <div class="form-group">
                    <label for="contact">Contact Number:</label>
                    <input type="tel" name="contact" id="contact" class="form-control"
                           ng-model="ctrl.contact" required>
                    <div class="help-block"
                         ng-show="regForm.contact.$invalid&&regForm.contact.$error.required">
                        <p>Contact Number is mandatory.</p>
                    </div>


                </div>

                <div class="form-group">
                    <button class="btn btn-success form-control" type="submit" ng-disabled="regForm.$invalid">
                Register <i class="fa fa-chevron-circle-right"></i>
                    </button>
                </div>


    </form>
</div>

</body>

<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="index.js"></script>

</html>